body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    line-height: 1.6;    
}

h1 {
    font-weight: bold;
}
		
.sidebar ul li {
    border-bottom: 1px solid #dddddd;
}

table.dataTable tbody td {
    padding: 8px 18px;
}

.panel-default {
	overflow: auto;
}

h3 {
	font-family: inherit;
	font-weight: 600;
	line-height: 1.1;
	color: inherit;
}